.message {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    width: 200px;
    height: 100px;
    color: var(--blanco);
    font-weight: bold;
    position: fixed;
    z-index: 100;
    border-radius: 5px;
    right: 0px;
    bottom: 0px;
    animation-name: aparece-derecha-desaparece-izquierda;
    animation-duration: 4s; 
    animation-timing-function: cubic-bezier(0,.85,0,1);
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes aparece-derecha-desaparece-izquierda
{
    from { 
         transform: translateX(100%); 
         opacity: 0;
            }
    to { 
         transform: translateX(0%); 
         opacity: 1;
            }
}

/* Disenho Responsivo  */
@media (max-width: 568px) {
.message {
    font-size: 0.6em;
    width: 100px;
    height: 50px;
    }
}