* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  /*Colores en: https://coolors.co/*/
  --negro: #000000;
  --azulOscuro: #001219;
  --azulMenosOscuro: #005f73;
  --azulClaro: #0a9396;
  --verde: #38b000;
  --azulCeleste: #94d2bd;
  --gris: #b7b7a4;
  --grisRosa: #e9d8a6;
  --blanco: #fffffc;
  --amarrillo: #ee9b00;
  --carmelita: #ca6702;
  --naranja: #bb3e03;
  --rojo: #ae2012;
  --marrón: #9b2226;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-width: 100vw;
  min-height: 100vh;
}
div.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-areas:
    "navegacion-principal"
    "texto-central"
    "redes-pie-de-pagina";
  background: linear-gradient(
    290deg,
    var(--azulMenosOscuro) 0%,
    var(--azulOscuro) 30%,
    var(--negro) 100%
  );
  justify-items: center;
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Benne", serif;
  color: var(--blanco);
}

/*Aquí inicia mi disenho responsivo*/
@media (max-width: 600px) {
  div.grid {
      grid-template-rows: 1fr;
      grid-template-areas: "texto-central";
    }
  }