#centro-de-pagina-libreria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-area: texto-central;
    position: relative;
    width: 100%;
    height: 100%;
    justify-items: center;
  }
  .contenedor-libreria {
    display: grid;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr), 8fr;
    grid-template-areas:
      "buscador"
      "reproductor"
      "listado";
    height: 100%;
    width: 90%;
  }
  .buscador-libreria {
    display: grid;
    grid-area: buscador;
    grid-template-columns: 0.2fr 1.1fr 7.7fr;
    grid-template-rows: 1fr 1fr 0.7fr 0.7fr;
    grid-template-areas:
      "vinilo vinilo vinilo"
      "vinilo vinilo vinilo"
      "blanco blanco blanco"
      "blanco blanco blanco";
    width: 100%;
    height: 200px;
  }
  .vinilo {
    display: grid;
    grid-area: vinilo;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blanco {
    display: grid;
    grid-area: blanco;
    background-color: var(--blanco);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .logo-libreria {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 8vw;
    height: 17vh;
    box-shadow: 0 0 5px var(--gris);
    border-radius: 10px;
    z-index: 1;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  .buscador-libreria > h1 {
    display: grid;
    text-align: left;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    z-index: 2;
    padding: 40px 0 0 0;
    text-shadow: 0 0 5px var(--negro);
  }
  form.libreria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    grid-column: 3 / 4;
    grid-row: 3 / 5;
  }
  .lupa-buscar {
    justify-self: center;
    width: 20px;
    height: 20px;
  }
  .etiqueta {
    justify-self: center;
    width: 20px;
    height: 20px;
  }
  form.libreria > input::placeholder {
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.15em;
  }
  select {
    color: var(--blanco);
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
  }
  #buscar-titulo {
    display: grid;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    right: 5.5vw;
    border: none;
    outline: none;
    background-color: var(--azulClaro);
    width: 20%;
    height: 60%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
  }
  #titulo {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: none;
    outline: none;
    background-color: var(--gris);
    width: 40%;
    height: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    color: var(--blanco);
    font-weight: bold;
    z-index: 3;
  }
  #buscar-artista {
    display: grid;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
    right: 5.5vw;
    border: none;
    outline: none;
    background-color: var(--azulClaro);
    width: 20%;
    height: 60%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
  }
  #artista {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: none;
    outline: none;
    background-color: var(--gris);
    width: 40%;
    height: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    color: var(--blanco);
    font-weight: bold;
    z-index: 3;
  }
  #buscar-genero {
    display: grid;
    align-items: center;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    position: relative;
    right: 5.5vw;
    border: none;
    outline: none;
    background-color: var(--azulClaro);
    width: 20%;
    height: 60%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
  }
  #genero {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border: none;
    outline: none;
    background-color: var(--gris);
    width: 40%;
    height: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    z-index: 3;
    overflow-y:scroll;
  }
  #buscar-año {
    display: grid;
    align-items: center;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    position: relative;
    right: 5.5vw;
    border: none;
    outline: none;
    background-color: var(--azulClaro);
    width: 20%;
    height: 60%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
  }
  #año {
    display: grid;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    border: none;
    outline: none;
    background-color: var(--gris);
    width: 40%;
    height: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
  }
                                                          /* Spinner */
/* Copiado desde loading.io*/
.spinner {
  position: fixed;
  top: 45%;
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
  z-index: 600;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Fin de spinner */
                                                    /* Listar base de datos */
  .listado {
    display: grid;
    grid-area: listado;
    width: 100%;
    height: fit-content;
    background-color: rgba(228, 228, 228, 0.3);
    border-radius: 10px;
    margin-top: 10px;
    font-size: 1.3em;
  }
  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
  th, td {
    padding: 0.5rem;
    text-align: left;
    
  }
  tr {
    border-bottom: thin solid var(--azulClaro);
  }
  tbody tr:last-of-type {
    border-bottom: none;
  }
  .boton-reproducir {
    display: grid;
    justify-content: right;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .boton-descargar {
    display: grid;
    justify-content: right;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .btns-l {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
  }
  .btn-dividir-next, 
  .btn-dividir-previous {
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: var(--blanco);
    cursor: pointer;
    padding: 5px 10px;
  }
  .btn-dividir-next {
    display: grid;
    justify-self: left;
  }
  .btn-dividir-previous {
    display: grid;
    justify-self: right;
  }
  .atras-delante {
    width: 20px;
    height: 20px;
  }
.rhap_container {
  justify-self: center;
  margin-top: 10px;
  border-radius: 5px;
}
                                              /*Aquí inicia mi disenho responsivo*/
                                                
/*Tableta Horizontal Max 1024px*/
@media (max-width: 1024px) {
  .buscador-libreria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "vinilo"
      "vinilo"
      "blanco"
      "blanco";
  }
  form.libreria {
    grid-column: 1;
    justify-items: right;
    margin-left: 30px;
  }
  .logo-libreria {
    display: none;
  }
  .buscador-libreria > h1 {
    display: none;
  }
  #buscar-titulo,
  #buscar-artista,
  #buscar-genero,
  #buscar-año {
    height: 50%;
    right: 16.5vw;
  }
  #titulo,
  #artista,
  #genero,
  #año {
    position: relative;
    height: 50%;
    width: 50%;
    right: 6vw;
  }
  .listado  {
    font-size: 1em;
  }
}

/*Movil Horizontal Max 568px*/
@media (max-width: 568px) {
  .contenedor-libreria {
    padding-top: 50px;
    height: 75%;
  }
  #btn-play,
  #btn-pause,
  #btn-stop {
    width: 30px;
    height: 30px;
  }
  .boton-reproducir, 
  .boton-descargar {
   margin-left: 3px;
  }
  #buscar-titulo,
  #buscar-artista,
  #buscar-genero,
  #buscar-año {
    width: 30%;
    height: 40%;
  }
  #titulo, 
  #artista {
    width: 50%;
    height: 40%;
    font-size: 8px;
    padding: 0 3px;
  }
  #genero,
  #año {
    width: 50%;
    height: 40%;
    font-size: 9px;
    padding: 0;
  }
  .lupa-buscar {
    width: 15px;
    height: 15px;
  }
  .etiqueta {
    width: 15px;
    height: 15px;
  }
}
/*Movil Vertical Max 320px*/
@media (max-width: 320px) {
  form.libreria {
    margin-left: 20px;
  }
  #buscar-titulo,
  #buscar-artista,
  #buscar-genero,
  #buscar-año {
    height: 35%;
  }
  #titulo,
  #artista,
  #genero,
  #año {
    width: 60%;
    height: 35%;
    right: 4vw;
  }
  .boton-reproducir {
    width: 18px;
    height: 18px;
    margin-left: 0;
  }
  .boton-descargar {
    width: 13px;
    height: 13px;
    margin-left: 0;
  }
  .listado  {
    font-size: 0.7em;
  }
}
